body {
    background-color: lightpink;
}

#left {
    color: green;

}

#right{
    color:lightblue;
}

#noise{
    color:orange;
}

#train{
    color: greenyellow;
}

#listen{
    color: rebeccapurple;
}